<header>
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="logo">
      <a [routerLink]="['/']">
        <img src="assets/img/logo.png" alt="Betsson - Frontend PHP developer test" />
      </a>
    </h1>
    <p>Frontend PHP developer test</p>
  </div>
</header>