@import "../../assets/sass/main.scss";

header{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: $white;
    padding: 10px 0px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    h1{
        margin-bottom: 0px;
        a{
            display: flex;
        }
    }
    p{
        font-weight: 500;
        margin-bottom: 0px;
    }
}

@media (max-width: 600px) {
    p{
       display: none;
    }
}