<div class="list-group">
	<ng-container *ngFor="let category of categories; let i = index">
		<a href="#" class="list-group-item list-group-item-action" 
		[ngClass]="{nested: category.parent_category_id !== null}"
		[routerLink]="['/category', category.id]"
		>
			{{category.title}}
		</a>
	</ng-container>	
</div>