@import "../../assets/sass/main.scss";

.nested{
    padding-left: 30px;
    list-style: disc;
    &:before{
        content: "-";
    }
}

.list-group-item{    
    &:hover{
        background-color: $light-orange;
        color: $white;
    }
}