<app-header></app-header>
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<app-categories></app-categories>
			</div>
			<div class="col-md-8">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</main>
