@import "../../../assets/sass/main.scss";
:host{
    border: 1px solid #cecece;
    display: block;
    padding: 20px;
    text-align: justify;
}
:host ::ng-deep h3 { 
    font-size: 1.2rem;
     color: $aqua;
}
h2{
    color: $orange;
}
img{
    margin-bottom: 20px;
}

@media (max-width: 512px) {
   :host{
        margin-top: 30px;
    }   
}