<article [routerLink]="['/post', post?.id]">
	<div class="row">
		<div class="col-md-4">
			<div class="cont-image">
				<img src="{{ post?.image_url }}" alt="" class="img-thumbnail">
			</div>
		</div>
		<div class="col-md-8">
			<h2>{{post?.title}}</h2>
			<p [innerHTML]="post?.description | slice:0:200 "></p>
		</div>
	</div>
</article>
