@import "../../../../assets/sass/main.scss";

.cont-image{
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include animate(all, 320ms);
        &:hover{
            opacity: 0.8;
            @include animate(all, 320ms);
        }
    }
}
h2{
    font-size: 1.6rem;
    color: $aqua;
}

/* :host /deep/ mySelector { */
:host ::ng-deep h3 { 
    font-size: 1.2rem;
}

article{
    padding: 20px 10px;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    @include animate(all, 320ms);
    &:hover{
        background-color: #cecece;
        @include animate(all, 320ms);
    }
}

@media (max-width: 1000px) {
   .cont-image{
        height: 150px;        
    }
}

@media (max-width: 512px) {
}