@import "../../../assets/sass/main.scss";
h3{
    color: $orange;
    font-weight: 500;
    font-size: 2rem;
}

@media (max-width: 1000px) {
    h3{
        margin-top: 30px;
    }    
}

@media (max-width: 512px) {
}